.picsum-img-wrapper {
  text-align: center;
}

.carousel-image {
  width: 400px;
  height: 300px;
  object-fit: cover; /* Ajusta la imagen dentro del contenedor manteniendo la relación de aspecto */
}

.cs-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cs-thumbnails button {
  border: none;
  background: none;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.thumbnail-image {
  width: 80px;
  height: 60px; /* Ajusta la altura para mantener una relación de aspecto similar */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor manteniendo la relación de aspecto */
  border: 2px solid transparent;
}

.cs-thumbnails button.active img {
  border-color: #007bff;
}

#carousel-container {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.cs-carousel-inner-two {
  display: flex;
  overflow-x: auto;
}

.card-product {
  flex: 0 0 20%; /* Muestra 5 elementos a la vez, ajusta según tus necesidades */
  max-width: 20%;
}

.card-product-img img {
  width: 100%;
  height: auto;
}
