<app-header></app-header>

<section class="container pt-3 pb-5 pb-md-6 mb-2 mb-lg-0">
  <!-- Toolbar + Pagination -->
  <div class="row mb-4 pb-2">
    <div class="col-md-3 pr-lg-4 mb-3 mb-md-0">
      <!-- Show / hide filters on Desktop -->
      <div class="d-none d-lg-block">
        <h3><i class="cxi-filter-1"></i> Filtros:</h3>
      </div>
    </div>

    <div class="col-md-9">
      <div class="d-flex align-items-center">
        <div class="form-inline flex-nowrap me-3 me-xl-5">
          <label for="sorting-top" class="fw-bold text-nowrap me-2 pe-1"
            >Filtrar por:</label
          >
          <select
            id="sorting-top"
            class="form-select"
            name="sort_by"
            [(ngModel)]="sort_by"
            (change)="orden_por()"
          >
            <option value="Defecto">Defecto</option>
            <option value="Popularity">Popularity</option>
            <option value="precio_mayor">Low - High Price</option>
            <option value="precio_menor">High - Low Price</option>
            <option value="azTitulo">A - Z Order</option>
            <option value="zaTitulo">Z - A Order</option>
          </select>
        </div>
        <div
          class="form-inline flex-column flex-nowrap d-none d-sm-flex me-3 me-xl-5 custom-form-group"
        >
          <label
            for="pager-top"
            class="fw-bold text-nowrap me-2 pe-1 d-none d-lg-block"
            >Contador:</label
          >
          <select
            id="pager-top"
            class="form-select"
            name="pageSize"
            [(ngModel)]="pageSize"
          >
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
        <nav class="ms-auto" aria-label="Pagination">
          <ngb-pagination
            class="px-4 py-2 my-2 text-center"
            [collectionSize]="productos.length"
            [pageSize]="pageSize"
            [(page)]="page"
            aria-label="Default pagination"
          />
        </nav>
      </div>
    </div>
  </div>

  <div class="row flex-lg-nowrap">
    <!-- Filters (sidebar) -->
    <div id="filtersSidebar" class="col-lg-3 pr-lg-4">
      <div id="filtersOffcanvas" class="cs-offcanvas cs-offcanvas-collapse">
        <section>
          <div class="cs-offcanvas-body accordion-alt pb-4">
            <!-- Busqueda -->
            <div class="card border-bottom">
              <div class="card-header py-3" id="filter-panel">
                <h6 class="accordion-heading">
                  <a
                    href="#filter"
                    role="button"
                    data-toggle="collapse"
                    aria-expanded="true"
                    aria-controls="filter"
                  >
                    Buscar producto
                  </a>
                </h6>
              </div>
              <div
                class="collapse show"
                id="filter"
                aria-labelledby="filter-panel"
              >
                <div class="cs-widget pl-1 pb-4 mt-n3">
                  <!-- Search desktop -->
                  <div
                    class="input-group-overlay d-lg-block d-none order-lg-3 mt-3"
                  >
                    <input
                      class="form-control appended-form-control"
                      type="text"
                      placeholder="Buscar producto"
                      name="filter_producto"
                      [(ngModel)]="filter_producto"
                    />
                    <div
                      class="input-group-append-overlay"
                      style="
                        cursor: pointer;
                        color: #edb100;
                        background-color: #edb100 !important;
                      "
                      (click)="buscar_producto()"
                    >
                      <span class="input-group-text" style="color: black">
                        Buscar producto
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="cs-offcanvas-body accordion-alt pb-4">
          <!-- Category -->
          <div class="card border-bottom">
            <div class="card-header pt-0 pb-3" id="category-panel">
              <h6 class="accordion-heading">
                <a
                  href="#category"
                  role="button"
                  data-toggle="collapse"
                  aria-expanded="true"
                  aria-controls="category"
                >
                  Categorias
                  <span class="accordion-indicator"></span>
                </a>
              </h6>
            </div>
            <div class="collapse show" id="category" aria-labelledby="category-panel">
              <div class="cs-widget-data-list cs-filter">
                <div class="input-group-overlay mb-3">
                  <input
                    type="text"
                    class="cs-filter-search form-control form-control-sm appended-form-control"
                    name="filter_categoria"
                    [(ngModel)]="filter_categoria"
                    (keyup)="buscar_categoria()"
                    placeholder="Buscar por categoria"
                  />
                </div>
                <ul
                  class="cs-filter-list list-unstyled pr-3"
                  style="height: 12rem"
                  data-simplebar
                  data-simplebar-auto-hide="false"
                >
                  <li class="cs-filter-item">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="radio"
                        name="group1"
                        class="custom-control-input me-2"
                        id="blazers-todos"
                        value="todos"
                        [(ngModel)]="filter_cat_productos"
                        (change)="buscar_por_categoria()"
                      />
                      <label for="blazers-todos" class="custom-control-label">
                        <span class="cs-filter-item-text">Todos</span>
                        <span class="pl-1 text-muted">(235)</span>
                      </label>
                    </div>
                  </li>
                  <li
                    class="cs-filter-item"
                    *ngFor="let item of config_global.categorias; let indice = index"
                  >
                    <div class="custom-control custom-checkbox">
                      <input
                        type="radio"
                        name="group1"
                        class="custom-control-input me-2"
                        id="blazers-{{ indice }}"
                        value="{{ item.titulo }}"
                        [(ngModel)]="filter_cat_productos"
                        (change)="buscar_por_categoria()"
                      />
                      <label for="blazers-{{ indice }}" class="custom-control-label">
                        <span class="cs-filter-item-text">{{ item.titulo }} &amp; Suits</span>
                        <span class="pl-1 text-muted">(235)</span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
          </div>

          <!-- Price -->
          <div class="card border-bottom">
            <div class="card-header py-3" id="price-panel">
              <h6 class="accordion-heading">
                <a
                  href="#price"
                  role="button"
                  data-toggle="collapse"
                  aria-expanded="true"
                  aria-controls="price"
                >
                  Price
                  <span class="accordion-indicator"></span>
                </a>
              </h6>
            </div>
            <div class="collapse show" id="price" aria-labelledby="price-panel">
              <div class="cs-widget pl-1 pr-3 pb-4 mt-n3">
                <div
                  class="cs-range-slider"
                  data-start-min="250"
                  data-start-max="680"
                  data-min="0"
                  data-max="1000"
                  data-step="1"
                >
                  <div class="cs-range-slider-ui">
                    <div #slider></div>
                    <!-- Referencia para el slider -->
                  </div>
                  <div class="d-flex align-items-center mt-3">
                    <div class="w-50">
                      <div class="form-group position-relative mb-0">
                        <input
                          type="number"
                          class="form-control form-control-sm cs-range-slider-value-min"
                        />
                      </div>
                    </div>
                    <div class="mx-1 px-2 font-size-xs">—</div>
                    <div class="w-50">
                      <div class="form-group position-relative mb-0">
                        <input
                          type="number"
                          class="form-control form-control-sm cs-range-slider-value-max"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Product grid -->
    <div class="col">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3"
        data-bs-filters-columns
        style="display: flex; gap: 20px"
      >
        <ng-container *ngIf="productos.length == 0">
          <div class="col-lg-12 col-md-5">
            <h3 class="h6 mb-2 text-uppercase">No se encontraron productos</h3>
            <h2 class="h1 pb-lg-3">Es posible que sea un error</h2>
            <a
              style="cursor: pointer"
              class="btn btn-gradient btn-hover-shadow"
              (click)="reset_productos()"
              >Mostrar todos los productos</a
            >
          </div>
        </ng-container>
        <ng-container *ngIf="productos.length >= 1">
          <!-- Item -->
          <div
            *ngFor="
              let item of productos
                | slice
                  : (page - 1) * pageSize
                  : (page - 1) * pageSize + pageSize;
              let indice = index
            "
            class="col pb-sm-2 mb-grid-gutter"
            style="width: 100%; max-width: 300px"
          >
            <div
              class="card mx-auto"
              style="height: 100%; display: flex; flex-direction: column"
            >
              <img
                [src]="url + 'obtener_portada/' + item.portada"
                class="card-img-top"
                alt="Product image"
                style="flex: 1; object-fit: cover; height: 200px"
              />
              <div class="card-body pb-2">
                <h3 class="card-title text-truncate mb-2">
                  <a [routerLink]="['/productos/', item?.slug]" class="nav-link">{{
                    item.titulo.toUpperCase()
                  }}</a>
                </h3>
                <div class="d-flex align-items-center">
                  <span class="h5 d-inline-block mb-0">${{ item.precio }}</span>
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex align-items-center mb-2 pb-1">
                  <div class="col-auto" style="color: darkblue;">
                      {{ item.categoria }}
                  </div>
                </div>
                <a type="button" class="btn btn-warning btn-block me-2" [routerLink]="['/productos/', item?.slug]">
                  <i class="cxi-cart align-middle mt-n1 mr-2"></i> Ver producto
                </a>
                <a *ngIf="!btn_crt" type="button" class="btn btn-primary btn-block" (click)="agregar_producto(item)">
                  <i class="cxi-cart align-middle mt-n1 mr-2"></i> Al Carrito
                </a>
                <div *ngIf="btn_crt" class="spinner-border" role="status" disabled>
                  <span class="sr-only"></span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col-md-9">
        <div class="d-flex align-items-center">
          <div class="form-inline flex-nowrap me-3 me-xl-5">
            <label for="sorting-top" class="fw-bold text-nowrap me-2 pe-1"
              >Filtrar por:</label
            >
            <select
              id="sorting-top"
              class="form-select"
              name="sort_by"
              [(ngModel)]="sort_by"
              (change)="orden_por()"
            >
              <option value="Defecto">Defecto</option>
              <option value="Popularity">Popularity</option>
              <option value="precio_mayor">Low - High Price</option>
              <option value="precio_menor">High - Low Price</option>
              <option value="azTitulo">A - Z Order</option>
              <option value="zaTitulo">Z - A Order</option>
            </select>
          </div>
          <div
            class="form-inline flex-column flex-nowrap d-none d-sm-flex me-3 me-xl-5 custom-form-group"
          >
            <label
              for="pager-top"
              class="fw-bold text-nowrap me-2 pe-1 d-none d-lg-block"
              >Contador:</label
            >
            <select
              id="pager-top"
              class="form-select"
              name="pageSize"
              [(ngModel)]="pageSize"
            >
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
          <nav class="ms-auto" aria-label="Pagination">
            <ngb-pagination
              class="px-4 py-2 my-2 text-center"
              [collectionSize]="productos.length"
              [pageSize]="pageSize"
              [(page)]="page"
              aria-label="Default pagination"
            />
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
