<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content">
  <div class="px-4 py-2 my-2 text-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      fill="currentColor"
      class="bi bi-transparency mb-4"
      viewBox="0 0 16 16"
    >
      <path
        d="M0 6.5a6.5 6.5 0 0 1 12.346-2.846 6.5 6.5 0 1 1-8.691 8.691A6.5 6.5 0 0 1 0 6.5m5.144 6.358a5.5 5.5 0 1 0 7.714-7.714 6.5 6.5 0 0 1-7.714 7.714m-.733-1.269q.546.226 1.144.33l-1.474-1.474q.104.597.33 1.144m2.614.386a5.5 5.5 0 0 0 1.173-.242L4.374 7.91a6 6 0 0 0-.296 1.118zm2.157-.672q.446-.25.838-.576L5.418 6.126a6 6 0 0 0-.587.826zm1.545-1.284q.325-.39.576-.837L6.953 4.83a6 6 0 0 0-.827.587l4.6 4.602Zm1.006-1.822q.183-.562.242-1.172L9.028 4.078q-.58.096-1.118.296l3.823 3.824Zm.186-2.642a5.5 5.5 0 0 0-.33-1.144 5.5 5.5 0 0 0-1.144-.33z"
      />
    </svg>
    <h1 class="display-5 fw-bold text-body-emphasis">Actualizar Productos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Este modulo es para Actualizar los productos.</p>
    </div>
    <form
      class="px-5 py-2 my-2 text-center"
      #actualizarForm="ngForm"
      (ngSubmit)="actualizar(actualizarForm)"
    >
      <h4 class="px-5 py-3 my-3 text-center">Actualizacion de producto</h4>
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <span class="input-group-text">Titulo de producto</span>
              <input
                type="text"
                class="form-control"
                placeholder="Titulo Completo..."
                name="titulo"
                [(ngModel)]="producto.titulo"
                required
              />
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <span class="input-group-text">Stock</span>
              <input
                type="number"
                class="form-control"
                placeholder="Stock..."
                name="stock"
                [(ngModel)]="producto.stock"
                required
              />
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <span class="input-group-text">Precio</span>
              <input
                type="number"
                class="form-control"
                placeholder="Precio del producto..."
                name="precio"
                [(ngModel)]="producto.precio"
                required
              />
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <span class="input-group-text">Categoria</span>
              <input
                type="text"
                class="form-control"
                placeholder="Categorias..."
                name="categoria"
                [(ngModel)]="producto.categoria"
                required
              />
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="input-group">
              <span class="input-group-text">Descripcion corta</span>
              <textarea
                class="form-control"
                rows="3"
                placeholder="Descripcion corta..."
                name="descripcion"
                [(ngModel)]="producto.descripcion"
                required
              ></textarea>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="input-group">
              <span class="input-group-text">Descripcion completa</span>
              <textarea
                class="form-control"
                rows="5"
                placeholder="Descripcion completa..."
                name="contenido"
                [(ngModel)]="producto.contenido"
                required
              ></textarea>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Portada</h5>
                <input type="file" class="card-img-top" (change)="fileChangeEvent($event)"/>
              </div>
              <img [src]="imgSelect" class="card-img-top" alt="Portada" />
            </div>
          </div>                   
        </div>
      </div>
      <button type="submit" class="btn btn-primary me-3 my-5">
        Actualizar Producto
      </button>
      <a class="btn btn-warning" [routerLink]="['/panel/productos']"
        >Regresar</a
      >
    </form>
  </div>
</div>

